<!DOCTYPE html>
<html>
<head th:replace="fragments/bootstrap::head(title='Asignatur de grado')"></head>
<body>
	<header th:insert="fragments/parts::menu"></header>
	<div class="container mt-5">
		<div class="row mt-5 justify-content-center">
			<h1 class="text-center mt-3">ASIGNATURAS</h1>
			<div th:if="${error!=null}" class="text-center mt-3 text-danger">No hay asignaturas en este grado</div>
			<div class="col-8">
				<table th:if="${error==null}"
					class="table table-stripped table-hover">
					<thead class="table-light">
						<tr>
							<th>ID</th>
							<th>Nombre</th>
							<th>Creditos</th>
							<th>Tipo</th>
							<th>Curso</th>
							<th>Cuatrimestre</th>
							<th>Profesor</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="g : ${grado.getAsignaturas()}">
							<td th:text="${g.id}"></td>
							<td th:text="${g.nombre}"></td>
							<td th:text="${g.creditos}"></td>
							<td th:text="${g.tipo}"></td>
							<td th:text="${g.curso}"></td>
							<td th:text="${g.cuatrimestre}"></td>
							<td
								th:text="(${g.profesor} != null) ? |${g.profesor.nombre} ${g.profesor.apellido1}| : '' ">
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>