<!DOCTYPE html>
<html>
<head th:replace="fragments/bootstrap::head(title='Asignaturas de profesores')"></head>
<body>
	<header th:insert="fragments/parts::menu"></header>
	<div class="container mt-5">
		<div class="row mt-5 justify-content-center">
			<h1 class="text-center mt-3">ASIGNATURAS DE: <span th:text="${profesor.getNombre() +' '+profesor.getApellido1()+' '+profesor.getApellido2}"></span></h1>
			
			<div th:if="${error!=null}" class="text-center mt-3 text-danger">PROFESOR SIN ASIGNATURAS ASIGNADAS</div>
			
			<div class="col-8">
				<table th:if="${error==null}"
					class="table table-stripped table-hover">
					<thead class="table-light">
						<tr>
							<th>ID</th>
							<th>Nombre</th>
							<th>Creditos</th>
							<th>Tipo</th>
							<th>Curso</th>
							<th>Cuatrimestre</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="p : ${profesor.getAsignaturas()}">
							<td th:text="${p.id}"></td>
							<td th:text="${p.nombre}"></td>
							<td th:text="${p.creditos}"></td>
							<td th:text="${p.tipo}"></td>
							<td th:text="${p.curso}"></td>
							<td th:text="${p.cuatrimestre}"></td>
							
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>