<!DOCTYPE html>
<html>
<head
	th:replace="fragments/bootstrap::head(title='Profesor de departamento')"></head>
<header th:insert="fragments/parts::menu"></header>
<body>
	<div class="container mt-5">
		<div class="row mt-5 justify-content-center">
			<div class="col-12">
				<h3 class="text-center mt-3"
					th:text="'Profesores de: '+${departamento.nombre}"></h3>

				<div th:if="${error!=null}" class="text-center mt-3 text-danger">DEPARTAMENTO
					SIN PROFESOR ASIGNADOS</div>

				<table th:if="${error==null}"
					class="table table-stripped table-hover">
					<thead class="table-light">
						<tr>
							<th>ID</th>
							<th>Nif</th>
							<th>Nombre</th>
							<th>Apellido1</th>
							<th>Apellido2</th>
							<th>Ciudad</th>
							<th>Direccion</th>
							<th>Telefono</th>
							<th>Fecha Nacimiento</th>
							<th>Sexo</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="d : ${departamento.getProfesor()}">
							<td th:text="${d.id}"></td>
							<td th:text="${d.nif}"></td>
							<td th:text="${d.nombre}"></td>
							<td th:text="${d.apellido1}"></td>
							<td th:text="${d.apellido2}"></td>
							<td th:text="${d.ciudad}"></td>
							<td th:text="${d.direccion}"></td>
							<td th:text="${d.telefono}"></td>
							<td th:text="${d.fechaNacimiento}"></td>
							<td th:text="${d.sexo}"></td>
						 	<td><a th:href="@{|/departamentos/profesores/delete?prof=${d.getId()}}|"><i class="bi bi-x-square"></i></a></td>					 	
							
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>
</body>
</html>