<!DOCTYPE html>
<html>
<head th:replace="fragments/bootstrap::head(title='Add Usuario')"></head>
<body>
<header th:insert="fragments/parts::menu"></header>
	<div class="container mt-5">
		<div class="row mt-5 justify-content-center">
			<div class="col-6">		
				<form th:action="@{/usuarios/addUsuario}" method="post"	th:object="${usuarioDTO}">
					
					<label for="nombre" class="form-label mt-3">Nombre</label>
					<input type="text" class="form-control" id="nombre" name="nombre"
						th:field="*{nombre}" required>
						
					<label for="apellidos" class="form-label mt-3">Apellidos</label>
					<input type="text" class="form-control" id="apellidos" name="apellidos"
						th:field="*{apellidos}" required>
						
					<label for="email" class="form-label mt-3">Email</label>
					<input type="email" class="form-control" id="email" name="email"
						th:field="*{email}" required>		
									
					<label for="usuario" class="form-label mt-3">Usuario</label>
					<input type="text" class="form-control" id="usuario" name="usuario"
						th:field="*{usuario}" required>
						
					<label for="password" class="form-label mt-3">Contraseña</label>
					<input type="password" class="form-control" id="password" name="password"
						th:field="*{password}" required>				
					
					<label for="role" class="form-label mt-3">Role</label>
					<select class="form-select" id="role" name="role" th:field="*{role}">
						<option value="ROLE_USER">ROLE_USER</option>
  						<option value="ROLE_ADMIN">ROLE_ADMIN</option>
					</select>
					
					<label for="activo" class="form-label mt-3">Activar/Desactivar</label>
					<select class="form-select" id="activo" name="activo" th:field="*{activo}">
  						<option value="1" selected>Activar</option>
  						<option value="0">Desactivar</option>
					</select>	
					
					<h4 class="text-danger" th:if="${error!=null}" th:text="${'Usuario o email existente'}"></h4>	
					
					<input type="submit" class="btn btn-primary w-100 mt-3" value="AÑADIR" />	
				</form>
			</div>
		</div>
	</div>
</body>
</html>