<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>Recup_Final_PrimerTrimestre</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>org.iesalixar.servidor.controller.LoginServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>LogOutServlet</servlet-name>
		<servlet-class>org.iesalixar.servidor.controller.LogOutServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>InicioServlet</servlet-name>
		<servlet-class>org.iesalixar.servidor.controller.InicioServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AddProductServlet</servlet-name>
		<servlet-class>org.iesalixar.servidor.controller.AddProductServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ChangeOrderCustomerServlet</servlet-name>
		<servlet-class>org.iesalixar.servidor.controller.ChangeOrderCustomerServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>OrderReportServlet</servlet-name>
		<servlet-class>org.iesalixar.servidor.controller.OrderReportServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AddCustomerServlet</servlet-name>
		<servlet-class>org.iesalixar.servidor.controller.AddCustomerServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ChangeAssigmentServlet</servlet-name>
		<servlet-class>org.iesalixar.servidor.controller.ChangeAssigmentServlet</servlet-class>
	</servlet>


	<!--PARTE 2 -->

	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>LogOutServlet</servlet-name>
		<url-pattern>/LogOut</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>InicioServlet</servlet-name>
		<url-pattern>/Home</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AddProductServlet</servlet-name>
		<url-pattern>/Admin/AddProduct</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ChangeOrderCustomerServlet</servlet-name>
		<url-pattern>/Admin/ChangeOrderCustomer</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>OrderReportServlet</servlet-name>
		<url-pattern>/OrderReport</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AddCustomerServlet</servlet-name>
		<url-pattern>/Admin/AddCustomer</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ChangeAssigmentServlet</servlet-name>
		<url-pattern>/Admin/ChangeAssigment</url-pattern>
	</servlet-mapping>




	<!-- FILTROS -->

	<filter>
		<filter-name>FiltroAdmin</filter-name>
		<filter-class>org.iesalixar.servidor.filtros.FiltroAdmin</filter-class>
	</filter>
	<filter>
		<filter-name>FiltroUsuario</filter-name>
		<filter-class>org.iesalixar.servidor.filtros.FiltroUsuario</filter-class>
	</filter>


	<filter-mapping>
		<filter-name>FiltroAdmin</filter-name>
		<!-- <servlet-name>InicioServlet</servlet-name>
		<url-pattern>/Home</url-pattern> -->
		<servlet-name>AddProductServlet</servlet-name>
		<url-pattern>/Admin/AddProduct</url-pattern>
		<servlet-name>ChangeOrderCustomerServlet</servlet-name>
		<url-pattern>/Admin/ChangeOrderCustomer</url-pattern>
		
	</filter-mapping>
	<filter-mapping>
		<filter-name>FiltroUsuario</filter-name>
		<!-- <servlet-name>InicioServlet</servlet-name>
		<url-pattern>/Home</url-pattern> -->
		<servlet-name>OrderReportServlet</servlet-name>
		<url-pattern>/OrderReport</url-pattern>
	</filter-mapping>
</web-app>